@charset "utf-8";

/*
Great Race
Author: Levi Maasen
Date:   12-8-2020
   
Filename: style.css
*/

body {
	background: url("img/America.png");
	background-size: 100%;
	background-repeat: no-repeat;
	overflow:auto;
}